body{
    background-image: url("images/galaxy.bckgrnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#game{
    margin: 0 auto;
    width: 1400px;
    height: 800px;

    border: solid 2px #fff;
}